/* General style */
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 50%;
    background-color: floralwhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

/* Font sizing */
p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

h6 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.9rem;
}
h1 {
    font-size: 2rem;
}

/* Anchor tag common styling */
a {
    text-decoration: none;
}

/* Unordered list common styling */
ul {
    list-style-type: none;
    padding: 0;
}

/* Beginning of content style */
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header-reset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    height: 30%;
    background-image: url(https://images.unsplash.com/photo-1507925921958-8a62f3d1a50d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80);
}

.header::after {
    content:"";
    background-image: url(https://images.unsplash.com/photo-1507925921958-8a62f3d1a50d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80);
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.fa-redo-alt {
    align-self: center;
}